main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movies {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 32px;
}

.movie {
    text-align: center;
}

.movie h3 {
    padding: 0px;
    margin-bottom: -10px;
}

.movie p {
    padding: 0px;
    margin-bottom: 10px;
}

.movie img {
    border-radius: 8px;
}

.showcase {
    font-family: serif;
    letter-spacing: 4px;
    margin: 6px 30px;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    z-index: -1;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(254,255,0,1) 0%, rgba(255,0,0,1) 100%);
}

.loader::after {
    width: 85%;
    height: 85%;
    background: #202b38;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.catalog {
    max-width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    width: 900px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}