main {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 100;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212529;
}

.movies {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 32px;
    margin: 0;
    padding: 0px 10px;
}

.movie {
    text-align: center;
    display: flex;
    color: #212529;
    flex-direction: column;
    align-items: center;
}

.movie h3 {
    padding: 0px;
    margin-bottom: -10px;
    color: #212529;
    max-height: 50px;
    overflow-y: hidden;
}

.movie p {
    padding: 0px;
    margin-bottom: 10px;
}

.movie img {
    border-radius: 8px;
    height: 356px;
}

.showcase {
    font-family: serif;
    letter-spacing: 4px;
    margin: 6px 30px;
}

.loader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
    z-index: -1;
}

.loader::after,
.loader::before {
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::before {
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg, rgba(236,255,0,1) 0%, rgba(0,255,25,1) 50%, rgba(0,255,196,1) 100%);
}

.loader::after {
    width: 85%;
    height: 85%;
    background: #f9f9f9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.catalog {
    max-width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    width: 900px;
    height: 430px;
    background-color: #212529;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.title {
    margin: 10px 40px;
    color: #212529;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 110px;
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px 0px;
}

button {
    border: 0;
    background: linear-gradient(150deg, rgba(236,255,0,1) 0%, rgba(0,255,25,1) 50%, rgba(0,255,196,1) 100%);
    border-radius: 8px;
    color: #fff;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
    padding: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
}

button span {
    background: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
    padding: 6px 20px;
}

button:hover {
    background: linear-gradient(150deg, rgba(236,255,0,1) 0%, rgba(0,255,25,1) 50%, rgba(0,255,196,1) 100%);;
}

button:hover span {
    background: none;
    color: #111;
}

button:active {
    transform: scale(0.9);
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: rgba(0,255,25,1);
    text-decoration: none;
}